.portfolio {
  width: 100%;
  // background-color: #fafafa;
  background-image: url(../../assets/sectionBgTwo.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 0.3rem;
  border-radius: 0.2rem;
  // dimensions
  padding: 5rem 0;
}

.portfolioCtn {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.projectTitles {
  // color: #bf4e30;
  font-size: 5rem;
  text-align: center;
  margin-bottom: 3rem;
}

.projectOne,
.projectTwo,
.projectThree {
  margin-top: 8rem;
  display: flex;
}

.projectThree {
  margin-bottom: 8rem;
}

.projectOneImg,
.projectOneInfo,
.projectTwoImg,
.projectTwoInfo,
.projectThreeImg,
.projectThreeInfo {
  width: calc((100% / 2) - 2rem);
  text-align: justify;
  margin: 0 0.5rem;
}

.projectOneImg,
.projectTwoImg,
.projectThreeImg {
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    transition: all 0.3s;
  }

  a:focus {
    transform: scale(1.1);
  }

  img {
    border-radius: 0.1rem;
    box-shadow: 0 0.7rem 1rem;
  }
}

.projectOneImg,
.projectThreeImg {
  transform: rotate(1deg);

  a:hover,
  a:focus {
    transform: rotate(-2deg);
  }

  a:focus {
    transform: scale(1.1);
  }
}

.projectTwoImg {
  transform: rotate(-2deg);

  a:hover,
  a:focus {
    transform: rotate(3deg);
  }

  a:focus {
    transform: scale(1.1);
  }
}

.projectOneInfo,
.projectTwoInfo,
.projectThreeInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
